[user]
	name = Marc Siebeneicher
	email = marc.siebeneicher@vodafone.com
[commit]
	template = /Users/marc.siebeneicher/.stCommitMsg
[core]
	excludesfile = /Users/marc.siebeneicher/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential "https://git-codecommit.eu-central-1.amazonaws\.com"]
	#helper = !aws codecommit credential-helper $@
	helper = !codecommit_credential_helper.sh $@
	UseHttpPath = true
[credential "https://github.vodafone.com"]
	#helper = osxkeychain
	helper = "!f() { test \"$1\" = get && echo \"username=$(cat $HOME/.vfgithub)\" && echo \"password=\"; }; f"
[merge]
	ff = only
[branch]
	# defaults
	autosetuprebase = never
	autosetupmerge = true

	#autosetuprebase = always
	#autosetupmerge = always
[url "https://git-codecommit.eu-central-1.amazonaws.com/v1/repos/"]
	insteadOf = aws:
[alias]
	branches = branch -v
	changed = show --pretty=\"format:\" --name-only
	co = checkout
	commend = commit --amend --no-edit
	count = shortlog -sn
	fm = fetch-merge
	fpr = fetch-pr
	g = grep --break --heading --line-number
	gi = grep --break --heading --line-number -i
	glog = log --oneline --decorate --graph
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	ll = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	lt = log --tags --decorate --simplify-by-decoration --oneline
	please = push --force-with-lease
	pr = open-pr
	purge = clean -fd
	uncommit = reset --soft HEAD
	unstage = reset HEAD --
